h1, h2
    font-family: Cormorant, serif
    font-weight: 700
    font-size: 70px
    line-height: 100%
    letter-spacing: 0.01em
    color: $main-color

h1, h2, h3, p
    margin: 0

// h2
//     line-height: 110%

img
    max-width: 100%
    height: auto

body
    font-family: Arial, san-serif
    font-size: 18px
    line-height: 130%
    letter-spacing: 0.04em

.container
    max-width: 1290px
    margin: 0 auto
    padding: 0 50px

.visually-hidden
    position: absolute
    clip: rect(1px, 1px, 1px, 1px)
    padding: 0
    margin: 0
    border: none
    width: 1px
    height: 1px
    overflow: hidden

.hide
    display: none

.burger
    display: none

ul
    margin: 0
    padding: 0
    list-style: none

a
    color: inherit
    text-decoration: none

button, input
    font: inherit

button
    cursor: pointer

.logo
    width: 164px
    height: 76px
    color: $one-color

.payment-logo
    color: $one-color

.footer-logo
    color: $main-color

.header
    color: $second-color
    padding: 27px 0
    &-container
        display: grid
        grid-template-columns: 1fr 3fr 1fr
        align-items: center
    &-logo
        justify-self: start
    &-nav
        &-list
            display: flex
            justify-content: space-around
        &-link
            font-weight: 400
            font-size: 18px
            line-height: 130%
            letter-spacing: 0.04em
            color: #262626
            position: relative
            &::before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 2px
                background-color: $main-bg-color
                transition-duration: 0.4s
                transition-property: transform
                transform: scaleX(0)
            &:hover::before
                transform: scaleX(1)
            &:hover
                color: $main-bg-color
    &-consultation-btn
        justify-self: end
        width: 205px
        height: 50px
        background-color: $trigger-color
        border-radius: 10px
        font-weight: bold
        font-size: 18px
        line-height: 130%
        color: $main-color
        border: none
        box-shadow: 0px 2px 6px transparent
        transition-property: background-color, box-shadow
        transition-duration: .3s
        transition-timing-function: easy-in-out
        &:hover
            background-color: $main-bg-color
        &:active
            background-color: $main-bg-color
            box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36)
        &:focus
            outline-color: $second-color

.banner
    background-color: $main-bg-color
    color: $main-color
    &-container
        display: flex
        align-items: center
    &-left
        margin-left: -155px
        margin-right: 110px
        line-height: 0
    &-right
        max-width: 630px
    &-title
        font-weight: 700
        font-size: 70px
        line-height: 100%
        letter-spacing: 0.01em
        margin-bottom: 50px
    &-dscr
        font-size: 26px
        line-height: 140%
        letter-spacing: 0.04em
        margin-bottom: 24px
    &-down
        display: flex
        max-width: 113px
        margin: 0 auto
        flex-direction: column
        align-items: center
        &-img
            margin: 0 auto 13px auto
            filter: drop-shadow(4px 7px 20px transparent)
            transition: filter 0.3s ease
        &-text
            font-weight: 700
            font-size: 18px
            line-height: 130%
            letter-spacing: 0.04em
        &:hover &-img
            filter: drop-shadow(4px 7px 20px $second-color)
        &:hover &-text
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.features
    background-color: $second-bg-color
    padding: 40px 0
    color: $main-color
    &-list
        display: flex
        justify-content: space-between
    &-item
        width: 236px
        height: 161px
        padding-top: 115px
        text-align: center
        font-weight: 700
        font-size: 18px
        line-height: 130%
        letter-spacing: 0.04em
        background-position: center top
        background-repeat: no-repeat
        background-size: 100px
        &-one
            background-image: url('../img/icons/icon-1-section-2.svg')
        &-two
            background-image: url('../img/icons/icon-2-section-2.svg')
        &-three
            background-image: url('../img/icons/icon-3-section-2.svg')
        &-four
            background-image: url('../img/icons/icon-4-section-2.svg')
.product
    padding: 80px 0
    background-color: $main-bg-color
    color: $main-color
    &:nth-child(3n)
        background-color: $one-color
    &:nth-child(3n + 1)
        background-color: $two-color
    &:nth-child(3n + 2)
        background-color: $three-color
    &-container
        display: flex
        justify-content: space-between
        gap: 20px
    &:nth-child(even) .product-container
        flex-direction: row-reverse
    &-img
        width: calc( 50% )
        border-radius: 16px
        object-fit: cover
    &-content
        padding-top: 56px
        max-width: 500px
    &-title
        margin-bottom: 30px
        font-weight: 700
        font-size: 70px
        line-height: 110%
        letter-spacing: 0.01em
    &-features
        margin-bottom: 50px
        font-weight: 400
        font-size: 18px
        line-height: 130%
        letter-spacing: 0.04em
    &-dscr
        margin-bottom: 70px
        font-weight: 400
        font-size: 24px
        line-height: 140%
        letter-spacing: 0.04em
    &-button-wrapper
        display: flex
        align-items: center
        gap: 36px
    &-button
        display: block
        padding: 14px 36px
        border: 2px solid transparent
        border-radius: 10px
        font-weight: 700
        font-size: 18px
        line-height: 130%
        letter-spacing: 0.04em
        color: $main-color
        &:hover
            background-color: $main-color
            color: $main-bg-color
            border-color: $main-color
        &:active
            background-color: $second-bg-color
            color: $main-color
            border-color: $second-bg-color
        &-order
            background-color: $second-bg-color
            &:focus
                outline: 2px solid $second-color
                // border-color: transparent
        &-more
            border-color: $second-bg-color
            &:focus
                border-color: $main-color
