=burger
    width: 21px
    height: 14px
    cursor: pointer
    background-color: transparent
    border: none
=burger-line
    height: 2px
    background-color: $main-bg-color
=btns-effect-1
    border: none
    box-shadow: 0px 2px 6px transparent
    transition-property: background-color, box-shadow
    transition-duration: .3s
    transition-timing-function: easy-in-out
    &:hover
        background-color: $main-bg-color
    &:active
        background-color: $main-bg-color
        box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36)
    &:focus
        outline-color: $second-color
=nav-links-effect
    position: relative
    &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 2px
        background-color: $main-bg-color
        transition-duration: 0.4s
        transition-property: transform
        transform: scaleX(0)
    &:hover::before
        transform: scaleX(1)
    &:hover
        color: $main-bg-color
=btns-effect-2
    &:hover
        background-color: $main-color
        color: $main-bg-color
        border-color: $main-color
    &:active
        background-color: $second-bg-color
        color: $main-color
        border-color: $second-bg-color
    &-order
        background-color: $second-bg-color
        &:focus
            outline: 2px solid $second-color
            border-color: transparent
    &-more
        border-color: $second-bg-color
        &:focus
            border-color: $main-color
=footer-links-effect
    transition: color .3s easy-in-out
    &:hover
        color: $second-bg-color
